/*@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);*/

@font-face {
    font-family: 'hk_novamedium';
    src: url('../fonts/hknova/hknova-medium-webfont.eot');
    src: url('../fonts/hknova/hknova-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hknova/hknova-medium-webfont.woff') format('woff'),
         url('../fonts/hknova/hknova-medium-webfont.ttf') format('truetype'),
         url('../fonts/hknova/hknova-medium-webfont.svg#hk_novamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*COLOUR NOTES:
black:#000000
blue:#41b0c6
earth:#ddd9c8
dark_background:#13100f*/

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .container {
	height: 100%;
}

body {
	/*background: #3b3f45;*/
  background: #13100f;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'hk_novamedium', Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 590px;
}

a {
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #fff;
}

p {
   text-transform: uppercase;
}
/* Top Navigation Style */
.codrops-top {
	margin-top: 1em;
}

.codrops-top a {
	font-size: 0.69em;
	padding: 0 0.25em;
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	/*font-family: 'codropsicons';*/
	font-family: 'hk_novamedium';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.codrops-icon-info:before {
	content: "\e003";
}

.codrops-icon span {
	display: none;
	position: absolute;
	font-size: 0.85em;
	padding: 0.5em 0 0 0.25em;
	font-weight: 700;
}

.codrops-icon:hover span {
	display: block;
	color: #6a7b7e;
}

.resp-logo {
    width: 100%;
    max-width: 271px;
    height: auto;
}
